<h1> New Discount </h1>

<%= form_with model: [@merchant, @discount], local: true do |f| %>
  <%= f.label :percentage %>
  <%= f.text_field :percentage %>

  <%= f.label :quantity %>
  <%= f.text_field :quantity %>

  <%= f.submit 'Create New Discount' %>
<% end %>